<!-- Comment -->
<% commentable.comments.each do |comment| %>
	<div class="media">
	    <a class="pull-left" href="#">
	        <!-- <img class="media-object" src="http://placehold.it/64x64" alt=""> -->
	        <%= image_tag comment.user.avatar.url(:thumb), class: "media-object" %>
	    </a>
	    <div class="media-body">
	        <h4 class="media-heading"><a href="/users/<%= comment.user.id %>"><%= comment.user.name %> <%= comment.user.surname %></a>
	            <small><%= comment.created_at.strftime("%d %b %Y at %H:%M") %></small>
	        </h4>
	        <%= comment.body %>
	    </div>
	</div><hr>
<% end %>