<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Posts
                <small><%= @posts.count %> and counting...</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">Blog Home Two</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">New Post</button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Something to say?</h4>
        </div>
        <div class="modal-body">
          <%= render "form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <hr>

  <!-- Blog Post Row -->
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">            
            <% if post.user.avatar? %>
              <%= image_tag post.user.avatar.url(:thumb), class: "avatar" %>
            <% else %>
              <i class="fa fa-user fa-4x"></i>
            <% end %>
            <h3>
              <% if post.title? %>
                <%= link_to post.title, post %>
              <% end %>
            </h3>
          </div>
          <div class="panel-body">   
            <p>by <a href="#"><%= post.user.name %> <%= post.user.surname %></a> on 
            <small class="text-muted"><%= post.created_at.strftime("%d %b %Y at %H:%M") %></small>
            </p>
            <p>
              <% if post.body? %>  
                <%= post.body %>
              <% end %>
            </p>
            <p>
              <% if post.image? %>
                <%= link_to post do %>
                  <%= image_tag post.image.url(:large), class: "img-hover img-responsive post-image" %>
                <% end %>
                <center><small class="text-muted"><%= post.caption %></small></center>
              <% end %>
            </p>
            <div class="col-xs-3 col-md-3">
                <i class="fa fa-comment fa-2x"></i>
                <% if post.comments.any? %>
                    (<span class="text-primary"><%= post.comments.count %></span>)
                <% end %>
            </div> 
            <div class="col-xs-3 col-md-3">  
                <%= link_to "<i class='fa fa-eye fa-2x'></i>".html_safe, post %>
            </div>
            <% if current_user == post.user %>
              <div class="col-xs-3 col-md-3">
              <%= link_to "<i class='fa fa-trash fa-2x'></i>".html_safe, post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %> 
              </div>                    
            <% end %>
          </div>
        </div>  
      </div>
    </div><br>
  <% end %>
  <!-- /.row -->

    <hr>

</div>
<!-- /.container -->

